.main-home{
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    width: 100%;
    margin: auto;
    background-color: #1c1c1f;
    padding-bottom: 30px;
}

.container-navbar-home{
    width: 100%;
    height: 70px;
    border: 1px solid transparent;
}

.content-main{
    width: 80%;
    height: 1000px;
    border: 1px solid transparent;
    margin: auto;
    margin-top: 70px;
}

.container-nav-map-main{
    height: 50px;
    width: 99%;
    margin: auto;
    border: 1px solid transparent;
}

.container-cards-main{
    width: 99%;
    height: calc(99% - 50px);
    margin: 30px auto;
    border: 1px solid transparent;
}

.container-row-cards-main{
    width: 99%;
    height: 33%;
    margin: auto;
    padding: 10px 0;
    border: 1px solid transparent;
    display: flex;
    justify-content: space-between;
}

.container-card-main{
    width: 32%;
    height: 99%;
    border: 1px solid transparent;

}