.container-cards-photoscard {
  width: 100%;
  margin: auto;
  padding: 0 13px;
}

.container-card-photoscard {
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: rgb(119, 3, 42);
  /* background-color: #2c2c2e; */
}

.content-card-photoscard {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button-photoscard{
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  /* background-color: whitesmoke; */
  background-color: rgb(119, 3, 42);
}

.button-photoscard h1{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  /* color: rgb(100, 92, 92); */
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.9em;
}

@media(min-width: 576px){
  .container-card-photoscard {
    height: 300px;
    background-color: rgb(119, 3, 42);
  }

  .button-photoscard{
    width: 150px;
    height: 150px;
    background-color: rgb(100, 2, 43);
  }

  .button-photoscard h1{
    font-size: 1.5em;
  }
}