.container-navbar {
  background-color: #2c2c2e;
  height: 100px;
}

.logo-navbar {
  width: 50%;
  height: 80px;
  margin-left: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo-navbar img {
  max-width: 100%;/* width of container */
  height: 80px; /* height of container */
  object-fit: cover;
}

.list-navbar {
  margin-left: 40px;
}

.list-navbar li {
  list-style-type: none;
  color: #d8dadf;
  font-size: 0.9em;
  letter-spacing: 0.7px;
  font-weight: bold;
  margin: 15px 0;
}

.list-navbar a, .list-navbar a:hover{
  color: white;
  text-decoration: none;
}

@media(min-width:576px){

  .logo-navbar img {
      /* width of container */
  height: 100px; /* height of container */
  object-fit: cover;
    margin-left: 20%;
  }

  .container-menu{
    display: flex;
    justify-content: flex-start;
    padding-left: 0;
  }

  .list-navbar {
    width: 80%;
    margin-left: 0px;
    padding-bottom: 0px;
    margin-right: 20%;
    display: flex;
    justify-content: space-between;
  }

  .list-navbar li{
    margin: 0;
    margin-left: 0;
  }
}
