*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, li, span{
  font-size: 14px;
  font-family: sans-serif;
  letter-spacing: 0.5px;
  max-width: 100%;
}

.text-decoration-none{
  text-decoration: none;
}