.container-cards-clientcard {
  width: 100%;
  margin: auto;
}

.container-card-clientcard {
  margin-bottom: 20px;
}

.card-clientcard{
  height: 150px;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: rgb(119, 3, 42);
  /* background-color: #2c2c2e; */
  font-size: 0.7em;
}

.card-clientcard a{
  color: white;
  text-decoration: none;
}

.content-card-clientcard {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.title-card-clientcard h2 {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  padding: 5px;
  margin: 0;
  color: #d8dadf;
  font-size: 1.3em;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  /* background-color: rgb(97, 3, 34); */
  /* background-color: #222225; */
}

.detail-card-clientcard p{
  margin: auto;
  color: #d8dadf;
  border: 1px solid transparent;
  margin: 0;
  padding: 0;
  font-size: 1em;
}

.img-card-clientcard {
  margin: auto;
  max-height: 300px;
  max-width: 300px;
  height: 70%;
  width: 70%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.img-card-clientcard img {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
}

@media(min-width: 576px){
  .card-clientcard{
    height: 300px;
    font-size: 1.2em;
  }
}

@media(min-width: 768px){
  .title-card-clientcard h2{
      background-color: rgb(97, 3, 34);
  }
}

